
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allowing public read and write access for prototyping purposes.
    // In a production environment, this should be restricted to authenticated users.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
